/*----------------------------------
*                           
*   Version: 1.0                  
*   Date: 30/03/2013              
*   Author: Romain GAZIELLY   
*   Mail: romain.gazielly@gmail.com
*   Website: www.romaingazielly.com
*                                 
*----------------------------------*/

/*-------------------
    Fonts
-------------------*/
@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/Nexa_Free_Bold-webfont.eot');
    src: url('../fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------
    Global
-------------------*/
a { text-decoration: none; }
body, html{ font-size: 1em; line-height: 1.4; font-family: "proxima-nova", "Helvetica Neue", helvetica, arial, sans; width: 100%; height: 100%; font-style: normal; min-height: 100%; -webkit-font-smoothing: antialiased; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
h1, h2, h3 { font-family: "Helvetica Neue", helvetica, arial, sans; font-size: 30px; font-style: normal; font-weight: bold; color: #c1c1; padding: 0px; margin: 0px 0px 29px 0px; }
h2 { font-size: 40px; line-height: 35px; letter-spacing: -2px; }
h3 { font-size: 30px; line-height: 35px; letter-spacing: -2px; color: #333333; margin: 0px 0px 18px 0px; }
h4 { font-size: 34px; font-family: "Helvetica Neue", Helvetica, Arial, Sans; color: #333333; letter-spacing: -2px; margin: 40px 0px 25px 0px; }

/*-------------------
    Header
-------------------*/
header { width:100%; }
header nav { background: #fff; height:80px; width:960px; margin:auto; }
header nav ul li { width:99px; }
header nav ul li a { height:80px; display:block; border-top:solid 1px #fff; border-bottom:solid 1px #fff; box-sizing:border-box; } 

header nav ul#menu li { float:left; }
header nav ul#menu li a { font:12px "nexa_bold"; color:#2a2a26; padding-top:34px; text-align:center; text-transform: uppercase; }
header nav ul#menu li a:not(#logo):hover { color:#a1a1a1; }
header nav ul#menu li a#logo { font-size:50px; padding-top:10px; }

header nav ul#social li.flip { position:relative; list-style-type:none; float:right; width:99px; height:80px; border-right:solid 1px #fff; cursor:pointer; }
header nav ul#social li.flip .recto, header nav ul#social li.flip .verso { position:absolute; height:80px; width:99px; }
header nav ul#social li.flip div a { display:block; height: 80px; width:99px; }
header nav ul#social li.flip .recto { -webkit-backface-visibility: hidden; -webkit-transform:rotateY(0deg); -webkit-transition:all .6s ease; }
header nav ul#social li.flip .verso { -webkit-backface-visibility: hidden; -webkit-transform:rotateY(180deg); -webkit-transition:all .6s ease; }

header nav ul#social li.flip:hover .recto { -webkit-transform:rotateY(180deg); }
header nav ul#social li.flip:hover .verso { -webkit-transform:rotateY(0deg); }

#nav-facebook .recto { background:url('../pics/assets/facebook-flip.png') no-repeat center #fff; }
#nav-facebook .verso { background:url('../pics/assets/facebook-flap.png') no-repeat center rgba(42,42,38,1); }
#nav-twitter .recto { background:url('../pics/assets/twitter-flip.png') no-repeat center #fff; }
#nav-twitter .verso { background:url('../pics/assets/twitter-flap.png') no-repeat center rgba(42,42,38,1); }
#nav-viadeo .recto { background:url('../pics/assets/viadeo-flip.png') no-repeat center #fff; }
#nav-viadeo .verso { background:url('../pics/assets/viadeo-flap.png') no-repeat center rgba(42,42,38,1); }
#nav-linkedin .recto { background:url('../pics/assets/linkedin-flip.png') no-repeat center #fff; }
#nav-linkedin .verso { background:url('../pics/assets/linkedin-flap.png') no-repeat center rgba(42,42,38,1); }
 
 /*-------------------
    Home
-------------------*/
#container { margin: 0px; width: 100%; height: 100%; min-width: 960px; }
#home { position:relative; min-height: 800px; overflow:hidden; }
#bgHome { position:absolute; z-index:-1; left:50%; }

/*-------------------
    Works
-------------------*/
#works { position: relative; width: 100%; height: 100%; min-height: 800px; overflow: hidden; z-index: 1; }
.contentwrapper { position: relative; width: 960px; margin: 0 auto; font-size: 13px; line-height: 25px; letter-spacing: 0px; }
.mini-works { cursor: pointer; position: relative; float: left; width: 258px; height: 210px; color: #535353; clear: none; font-size: 14px; padding: 40px 30px 20px 30px; text-align: center; line-height: 19px; }
.mini-works li { list-style: none; display: none; margin: 0px; font-weight: bold; font-size: 15px; }
.mini-works ul { margin: 0px; padding: 0px; width: auto; }
.button-back { position: absolute; left: 0px; top: 122px; z-index: 999; margin-left: -90px; cursor: pointer; }
.button-back:hover { opacity: 0.7; }
.works-detail { margin-top: 25px; position: absolute; color: #535353; width: 960px; line-height: 22px; text-align: left; font-size: 14px; height: 600px; }
.mini-works:hover { background-color: rgba(204,17,25,0.75); color: #ffffff; -webkit-transition: padding .15s ease-out; -moz-transition: padding .15s ease-out; -o-transition: padding .15s ease-out; transition: padding .15s ease-out; }
.mini-works:hover h3 { color: #ffffff; }
.mini-works:hover hr.thick { display: none; }
.mini-works:hover .description, .mini-works:hover a { display: none; }
.mini-works:hover .plus { opacity: 0; }
.mini-works:hover li { display: block; }

/*-------------------
    About
-------------------*/
#about { position: relative; width: 100%; height: 100%; min-height: 800px; overflow: hidden; z-index: 1; background:#505050; }


